body{
	background: url("../images/bg.jpg");
}
.btn{
	background: none repeat scroll 0 0 #35537E;
    border: medium none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    margin: 10px 50px 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: 160px;
}
.btn:hover{
	background: none repeat scroll 0 0 #3C6DBA;
}