@CHARSET "UTF-8";
.icon-user-add {
    background-image: url('../images/user_add.gif') !important;
}

.icon-user-delete {
    background-image: url('../images/user_delete.gif') !important;
}

.add {
    background: url('../images/add.png') left top no-repeat;
}
		
.note_save {
    background: url('../images/note_new.gif') left top no-repeat;
}

.delete{
    background: url('../images/del.gif') left top no-repeat;
}
		
.note_back{
    background: url('../images/note_delete.gif') left top no-repeat;
}     

.icon-hotel{
    background: url('../images/indexicon.gif') no-repeat scroll left 4px rgba(0, 0, 0, 0) !important;
}
.icon-passenger{
    background: url('../images/user_suit.png') no-repeat scroll left 4px rgba(0, 0, 0, 0) !important;
}
.icon-search{
    background: url('../images/zoom.png') left top no-repeat;
}
.icon-result{
	background: url('../images/folder_go.png') left top no-repeat;
}
.button1 {
        background: url(../images/action_save.gif) left top no-repeat !important;
}
.button2{
		background: url(../images/page_delete.gif) left top no-repeat !important;
}
.button3{
		background: url(../images/action_refresh_blue.gif) left top no-repeat !important;
}
.button_edit{
		background: url(../images/user_edit.png) left top no-repeat !important;
}
.button_add{
		background: url(../images/user_add.gif) left top no-repeat !important;
}
.button_delete{
		background: url(../images/user_delete.gif) left top no-repeat !important;
}
.button_max{
		background: url(../images/user.gif) left top no-repeat !important;
}
.button_add2{
		background: url(../images/award_star_add.png) left top no-repeat !important;
}
.button_edit2{
		background: url(../images/award_star_bronze_1.png) left top no-repeat !important;
}